@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .min-h-100px{
        min-height: 100px;
    }
    .min-h-288px{
      min-height: 288px;
    }
    .min-w-224px{
      min-width: 224px;
    }
    .font-size-50px{
        font-size: 50px;
        
    }
    .pr-2px{
      padding-right: 2px;
    }
    .py-2px{
      padding: 2px 0;
    }
    .mt-2px{
      margin-top: 2px ;
    }
    .btn-pos {
      position: absolute;
      top: calc(50% - (27.997px/2))
    }
    @media (min-width: 920px) {
      .md-920-w-66 {
          max-width: 66%;
      }
  }
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance:none;
}
input[type="number"]{
  -moz-appearance:textfield;
}

label {
  cursor: pointer;
}
input, select, textarea {
  outline: none;
}
input[type='radio'] {
  cursor: pointer;
}